/* ~/.config/qutebrowser/css/user.css */

:root {
    /* boxes and headings: */
    --user-box1-comment: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAABiAQMAAAAsisI4AAAABlBMVEUTRFZQUHoF54zLAAAAAXRSTlMAQObYZgAAADRJREFUKM9jYCAaMB8AY3TK/g8G9f+//Z///4EUAwMyBRbEqgGr0bQHOHw0pCg6hsvAxzQA7+WCycmpv9AAAAAASUVORK5CYII=) 32 16 round;
    --user-box1-heading: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAABiAQMAAAAsisI4AAAABlBMVEXoFlZmsP/bK+TbAAAAAXRSTlMAQObYZgAAADRJREFUKM9jYCAaMB8AY3TK/g8G9f+//Z///4EUAwMyBRbEqgGr0bQHOHw0pCg6hsvAxzQA7+WCycmpv9AAAAAASUVORK5CYII=) 32 16 round;
    --user-box2-comment: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAABiAQMAAAAsisI4AAAABlBMVEURalVQUHokaxNLAAAAAXRSTlMAQObYZgAAAClJREFUKM9jYCAaMB8AYyKo///t//z/j50i3hTaA+LdMnipgQ0XOsc0AMGuePGoxt1xAAAAAElFTkSuQmCC) 32 16 round;
    --user-box2-heading: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAABiAQMAAAAsisI4AAAABlBMVEXzCVZmsP9QihbQAAAAAXRSTlMAQObYZgAAAClJREFUKM9jYCAaMB8AYyKo///t//z/j50i3hTaA+LdMnipgQ0XOsc0AMGuePGoxt1xAAAAAElFTkSuQmCC) 32 16 round;
    --user-box3-comment: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAABiAQMAAAAsisI4AAAABlBMVEUAAABQUHrDsFIJAAAAAXRSTlMAQObYZgAAADpJREFUKM9jYCAaMB8AY/wUOw+Q+v+ff87//0BK/gcyZfkBSDEfMHhA0BSIZTQHRPlokFMDFi4DEdMALNd5Y+3TLEYAAAAASUVORK5CYII) 32 16 round;
    --user-box3-heading: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAABiAQMAAAAsisI4AAAABlBMVEUAAABmsP8g+k9oAAAAAXRSTlMAQObYZgAAADpJREFUKM9jYCAaMB8AY/wUOw+Q+v+ff87//0BK/gcyZfkBSDEfMHhA0BSIZTQHRPlokFMDFi4DEdMALNd5Y+3TLEYAAAAASUVORK5CYII=) 32 16 round;
    /* base16 colors: */
    --user-color-black: #00002a;
    --user-color-blue: #66b0ff;
    --user-color-cyan: #0ef0f0;
    --user-color-cyan1: #32a6a6;
    --user-color-gray1: #30305a;
    --user-color-gray2: #20204a;
    --user-color-gray: #50507a;
    --user-color-green1: #3da651;
    --user-color-green: #59f176;
    --user-color-magenta: #fc4cb8;
    --user-color-orange: #fc8d28;
    --user-color-red1: #b32e2e;
    --user-color-red: #ff4242;
    --user-color-white1: #d0d0fa;
    --user-color-white: #f5f5ff;
    --user-color-yellow: #f3e877;
    /* extra colors: */
    --user-color-pink: #f10596;
    --user-color-purple: #f003ef;
    /* syntax colors: */
    --user-color-active: #0ef0f0;
    --user-color-bar: #30305a;
    --user-color-bg: #00002a;
    --user-color-bg1: #20204a;
    --user-color-code: #f5f5ff;
    --user-color-comment: #50507a;
    --user-color-em: #fc4cb8;
    --user-color-fg: #d0d0fa;
    --user-color-heading: #66b0ff;
    --user-color-link: #32a6a6;
     /* fonts: */
    --user-font-size: 16px;
    --user-font-family: Hack, Hack-Regular, monospace;
}

::selection {
    background: var(--user-color-bg1) !important;
    color: var(--user-color-code) !important;
    text-shadow: none !important;
}

::-webkit-scrollbar {
    width: 16px !important;
    height: 16px !important;
    border: none !important;
}

::-webkit-scrollbar-corner, ::-webkit-scrollbar-track {
    background: var(--user-color-bar) !important;
    border: none !important;
}

::-webkit-scrollbar-thumb {
    background: var(--user-color-comment) !important;
    border: none !important;
    -webkit-border-radius: 0px !important;
}

:focus {
    outline: 2px solid var(--user-color-comment) !important;
}

pre[style='word-wrap: break-word; white-space: pre-wrap;'] {
    color: var(--user-color-fg) !important;
    background: var(--user-color-bg) !important;
    font-size: var(--user-font-size) !important;
}
