## ~/.nanorc ::

include "/usr/share/nano/*.nanorc"

set mouse
set tabsize 4
set tabstospaces

# colors:
set errorcolor brightred
set functioncolor cyan
set keycolor brightblue
set statuscolor white
set titlecolor brightgreen
set numbercolor magenta
set spotlightcolor brightyellow,blue

# binding:
unbind ^X all
bind ^Q exit main
